/* amplix customized css styles */
#pg_links {
	display: none !important;
}

#login_locale {
        display: none !important;
}

#login_theme {
	display: none !important;
}

.idv-lic-ul li:last-child .idv-os-val:before {
        content: "3.6" !important;
}
