.ig-btn-dwiz.webix_el_toggle button {
    background: #eee;
    color: #aaa;
    cursor: default;
}

.ig-btn-dwiz.webix_el_toggle .webix_el_box.webix_pressed .webixtype_base, 
.ig-btn-dwiz.webix_el_toggle .webix_el_box.webix_pressed .webix_img_btn_abs {
    background: #1AB394;
    color: #fff;
    cursor: default;
}

.ig-btn-dwiz .webixtype_base:hover {
    background: #eee;
    color: #aaa;
    cursor: default;
}

.ig_dw_report_area {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.1);
}