@charset "utf-8";
/*  common  */
html, body {height:100%; overflow:hidden;}
#wrap {
	position: absolute;
	width:100%;
	top: 50px;
	bottom: 0px;
	overflow:hidden;
}
ul,li {margin:0; padding:0;} 
#content {
  overflow:hidden;
  position:relative;
  margin:0 auto;
  height:100%;  
}

/*  header  */
#slide_menu {
  background:#3179C1;
  z-index:2;
  width:100%;
  /*height:75px;*/
  position:absolute;
  display:none;
}
#header {
  position:relative;
  height:44px; 
  z-index:2;
  border-bottom:4px solid #4EACFF;
  background:#fff;
}
#header #nav > ul { 
  height:40px; 
  line-height:40px; 
  width:100%;
  position: absolute;
  left:300px;
}
#header #nav > ul > li { 
  font:13px 'NanumBarunGothic', sans-serif; 
  display:block;
  float:left; 
  font-weight:bold; 
}
#header #nav > ul > li > a {
  display:block;
  z-index:3;
  padding:20px 10px 17px; 
  color:#888;
  background:url(../images/button_nor.png) center 40px no-repeat; 
}
#header #nav > ul > li > a:hover {
  color:#4278A5;
  background:url(../images/button_sel.png) center 40px no-repeat; 
}


#nav > ul > li > ul {position:absolute; top:53px; display:none;} 
#nav > ul > li > ul > li {display:block; padding:0; margin:0;}
#nav > ul > li > ul > li > a {
  display:block;
  padding:4px 0 0 15px;
  color:#E0F0FF; 
  font-size:12px; 
  font-weight:normal;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #nav > ul > li > ul > li > a {
    padding-top:2px;
  }
}

#nav > ul > li > ul > li > a:hover {color:#fff; font-weight:bold;}

#content > div {overflow:hidden;}
#title_area h1 {padding-bottom:6px; padding-top:30px; text-indent:5px; font-size:15px;}

#mainview {
	position: relative;
	width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.logo {
	line-height: 35px;
    font-size: 28px;
}

#title_area {
	position: relative;
}

.ui-menu-item {
	font-size: 12px;
}